body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #377894, #67c2e0, #0ea5e6);
  font-family: "Poppins", sans-serif;
}
/* ====================== generel styling =================== */
h1 {
  color: #0f2027;
  text-align: center;
  font-size: 3rem;
}
main label {
  font-size: 1rem;
}
p {
  font-size: 1rem;
  width: 90%;
}
form {
  width: 70%;
  margin: 10% auto 10% auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 12px;
}
option:focus,
select:focus {
  outline: 0;
}
/* ====================== inputs styling =================== */
.input-control input{
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 95%;
}
#input-clubs option{
  width: 95%;
  margin-bottom: 10px;
}

#input-clubs select{
  width: 99%;
  
}
#input-clubs select,
#input-group select {
  margin-bottom: 30px;
}
#submit {
  padding: 10px;
  margin-top: 10px;
  width: 92.5%;
  color: white;
  background-color: rgb(41, 57, 194);
  border: none;
  border-radius: 4px;
}
#input-clubs option,
#input-clubs select {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 1rem;
  padding: 10px;
  width: 95%;
}
#input-gender, #input-group {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: white;
  width: 95%;
  border-radius: 4px;
  margin-bottom: 30px;
  border: 2px solid #f0f0f0;
  flex-direction: row;
}
#input-gender input {
  margin: 0 20px;
  width: 22px;
  height: 1.2rem;
}
#input-group {
  /* width: 0; */
}
#input-group input {
  margin-right: 1rem;
  margin-left: 1rem;
  width: 20px;
  height: 1.2rem;
  margin-top: 0;

}
#input-group label {
  margin-right: 4rem;

}
input:focus {
  outline: 0;
}
/* ================= alertbox styling =================== */
#alertbox {
  padding: 20px;
  background-color: #f44336;
  color: white;
  font-size: 1rem;
  border-radius: 30px;
  width: 80%;
  margin: auto;
}


/* ==================== div error  ==================== */
.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}
.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
